body {
    font-family: 'Open Sans',sans-serif;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#quiz {
	margin: 0 auto;
	background: #cccccc;
	padding: 10px 20px 10px 20px;
	width: 300px;
	border-radius: 35px;
}

input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}

#button {
	background: green;
	border: none;
	border-radius: 15px;
	padding: 10px;
	color: white;
	font-size: 16px;
	margin-top: 15px;
}

#button:hover {
	background: white;
	color: black;
    cursor: pointer;
    transition-duration: .5s;
}

#button:focus {
    outline:0;
}

#submit {
	visibility: hidden;
	padding: 10px 20px 10px 20px;
	width: 300px;
    border-radius: 35px;
    border-bottom-right-radius: 100px;
	margin: 5px auto;
	font-size: 20px;
}

.awenser {
	display: inline;
}